<template >
	<div class="card-item">
		<div class="card-item-img">
			<img :src="getImgUrl" alt="img">
		</div>
		<div class="card-body">
			<h3 class="card-title">{{ title }}</h3>
			<p class="card-text">{{ description || '' }}</p>
			<div class="card-item-buttons">
				<button class="card-btn" type="button">3D тур</button>
				<button class="card-btn" type="button"> Прокласти маршрут</button>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: "VCard",

	props: {
		// item: {
		// 	type: Object
		// },
		title: {},
		description: {},
		image: {}
	},
	computed: {
		getImgUrl() {
			return require(`@/assets/img/${this.image}`)
		},
	}
}
</script>
<style >
.card-item {
	/* max-height: 367px;
	min-width: 367px; */
	border-radius: 8px;
	box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.15);
	background: #FFFFFF;

}

.card-item-img {
	min-height: 185px;
	width: 100%;
	overflow: hidden;

}

.card-item-img img {
	/* height: 100%;
	width: 100%; */
	/* border-top-right-radius: 8px;
	border-top-left-radius: 8px; */
	object-fit: cover;

}

.card-body {
	padding: 13px 18px 32px;
}

.card-item-text {
	padding: 13px 7px 20px 18px;
}

.card-title {
	font-size: 24px;
	line-height: 29px;
	margin: 0;

}

.card-item-buttons {
	margin: 20px 11px 0 0;
	display: flex;
	column-gap: 16px;
	flex-wrap: wrap;
	row-gap: 11px;
}

.card-btn {
	border: 2px solid black;
	border-radius: 4px;
	padding: 10px 16px;
	font-weight: 600;
}
</style>