<template>
  <div class="wrapper">
    <v-header/>

    <v-map/>
  </div>
</template>

<script>
import VMap from './components/VMap.vue';
import VHeader from './components/VHeader.vue';

export default {
  name: 'App',
  components: {
    VMap,
    VHeader
  },

}
</script>

<style>

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


</style>
